body{
    background-color: black;
    padding: 0;
    margin: 0;
}
#buttons{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #171717;
}
#buttons button{
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
}
#buttons button:hover{
    border: 2px solid red;
}
#container{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#movie{
    margin: 5px;
    background-color: #171717;
}
#movie:hover{
    border: 2px solid red;
}
#movie-name{
    font-size: 25px;
    color: white;
    text-align: center;
}
#movie img{
    padding: 30px;
    width: 300px;
    height: 400px;
}
#contact-info{
    text-align: center;
    font-size: 20px;
    color: white;
}
#social-media{
    width: 50px;
    height: 50px;
}
#contact{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}